/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "tailwindcss";
@import "./assets/scss/font/iran-yekan";
@import "primeflex/primeflex.css";

body {
  direction: rtl;
  font-family: "iranYekan";
}

.p-datatable-header:has(.caption-wrapper) {
  padding: 0 !important;
}

.p-custom-select-overlay {
  direction: ltr;

  .p-select-list {
    direction: rtl;
  }
}

.p-datepicker {
  width: 100% !important;
}

.custom-date-picker {
  direction: ltr;
}

.p-custom-tree-select-overlay {
  direction: ltr;

  .p-overlay-content {
    direction: rtl;
  }
}

.p-overlay-mask{
  position: absolute !important;
  border-radius: 8px
}
